@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Arabic:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  font-family: 'Noto Sans Arabic', sans-serif;
}

body {
  font-family: 'Noto Sans Arabic', sans-serif;
  margin: 0;
}

.book-card__container {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  direction: rtl;
  border-radius: 0.5rem;
  border: 2px solid #dddddd;
  padding: 1rem 2rem;
}

.book-card__container>span {
  color: #4d4d4d;
  margin-bottom: 2rem;
}

.inputs__container {
  width: 100%;
  display: flex;
}

.cities__container {
  width: 400px;
  height: 3rem;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  margin-left: 0.5rem;
}

.src-city__container {
  flex-grow: 0.5;
  border-left: 1px solid #dddddd;
  height: 100%;
}

.src-city__container>input,
.dest-city__container>input,
.depart-date__container>input,
.return-date__container>input {
  height: 100%;
  border: 0;
  padding: 0.5rem;
  outline: none !important;
}

.dest-city__container {
  flex-grow: 0.5;
  height: 100%;
}

.depart-date__container,
.return-date__container,
.passengers-number__container {
  width: 180px;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #dddddd;
  margin-left: 0.5rem;
}

.passengers-number__container {
  width: 200px;
  display: flex;
  align-items: center;
}

.passengers-number__container>span {
  font-size: 0.75rem;
  color: #4d4d4d;
  padding: 0.5rem;
}

.passengers-number__input {
  width: 30%;
  height: 70%;
  border: 0.5px solid #dddddd;
  border-radius: 8px;
  padding: 0.5rem;
  outline: none !important;
}