.homepage-image__container {
  width: 100%;
}

.homepage-image {
  width: 100%;
  height: auto;
}

.book-card__container {
  width: 80%;
  margin: 50px auto;
  background-color: white;
  display: flex;
  flex-direction: column;
  direction: rtl;
  border-radius: 0.5rem;
  border: 2px solid #dddddd;
  padding: 1rem 2rem;
}

.book-card__container>span {
  color: #4d4d4d;
  margin-bottom: 2rem;
}

.inputs__container {
  width: 100%;
  display: flex;
  margin-bottom: 1.25rem;
}

.cities__container {
  width: 600px;
  height: 3rem;
  display: flex;
  border-radius: 0.5rem;
  border: 1px solid #dddddd;
  margin-left: 0.5rem;
}

.src-city__container {
  flex-grow: 0.5;
  width: 300px;
  position: relative;
  border-left: 1px solid #dddddd;
  height: 100%;
  padding: 0.5rem;
}

.src-city__container>input,
.dest-city__container>input,
.depart-date__container>input,
.return-date__container>input {
  height: 100%;
  width: 100%;
  border: 0;
  outline: none !important;
}

.dest-city__container {
  flex-grow: 0.5;
  height: 100%;
  padding: 0.5rem;
  width: 300px;
}

.depart-date__container,
.return-date__container,
.passengers-number__container {
  width: 180px;
  height: 3rem;
  border-radius: 8px;
  border: 1px solid #dddddd;
  margin-left: 0.5rem;
  padding: 0.5rem;
}

.passengers-number__container {
  width: 200px;
  display: flex;
  align-items: center;
  padding: 0.5rem;
}

.passengers-number__container>span {
  font-size: 0.75rem;
  color: #4d4d4d;
  margin-left: 0.5rem;
}

.passengers-number__input {
  width: 30%;
  height: 100%;
  border: 0.5px solid #dddddd;
  border-radius: 8px;
  padding: 0 0.5rem;
  outline: none !important;
}

.control__container {
  direction: ltr;
}

.src-airports__container {
  z-index: 2;
  background-color: #ffffff;
  position: relative;
  top: 8px;
  right: -8px;
  direction: rtl;
  width: 300px;
  overflow-y: auto;
  height: 400px;
  border: 0.5px solid #dddddd;
  border-radius: 8px;
  padding: 0.5rem;
  visibility: hidden;
}

.src-airports, .dest-airports {
  padding: 0;
  direction: rtl;
  list-style: none;
  width: fit-content;
  margin: 0;
}

.src-airports>li, .dest-airports>li {
  padding: 0.5rem 0;
  border-bottom: 0.5px solid #dddddd;
}

.src-airports>li:last-child, .dest-airports>li:last-child {
  border-bottom: none;
}

.src-airports>li:hover, .dest-airports>li:hover {
  cursor: pointer;
  background-color: #dddddd;
}