<div class="container">
    <div class="row" style="justify-content: center;">
        <div class="card col-12 col-lg-4 m-2" style="width: 20rem; padding-top: 8px;">
            <img src="/assets/images/img1.jpg" class="card-img-top" style="border-radius: 0;">
            <div class="card-body">
                <h5 class="card-title">سفر به سواحل زیبا</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>

        <div class="card col-12 col-lg-4 m-2" style="width: 20rem; padding-top: 8px;">
            <img src="/assets/images/img2.png" class="card-img-top" style="border-radius: 0;">
            <div class="card-body">
                <h5 class="card-title">سرو لذیذترین غذاها</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>

        <div class="card col-12 col-lg-4 m-2" style="width: 20rem; padding-top: 8px;">
            <img src="/assets/images/img3.jpg" class="card-img-top" style="border-radius: 0;">
            <div class="card-body">
                <h5 class="card-title">سفر با هواپیمایی شریف</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>
    </div>
</div>