<div class="container">
    <div class="row">
        <div class="card col col-md-4 m-2" style="width: 18rem;">
            <img src="/image/img1.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">سفر به سواحل زیبا</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>

        <div class="card col col-md-4 m-2" style="width: 27rem;">
            <img src="/image/img2.png" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">سفر همراه با سوشی</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>

        <div class="card col col-md-4 m-2" style="width: 22rem;">
            <img src="/image/img3.jpg" class="card-img-top">
            <div class="card-body">
                <h5 class="card-title">سفر با هواپیمایی شریف</h5>
                <a href="#" class="btn btn-primary">اطلاعات بیشتر</a>
            </div>
        </div>
    </div>
</div>