<div class="book-card__container">
  <span>پرواز خود را انتخاب کنید:</span>
  <div class="inputs__container">
    <div class="cities__container">
      <div class="src-city__container">
        <input id="src-city" class="src-city__input" placeholder="مبدأ"
               onfocus="onSrcCityFocusHandler(this, event)" onblur="onSrcCityFocusHandler(this, event)" />
        <div id="src-airports-container" class="src-airports__container">
          <ul class="src-airports"></ul>
        </div>
      </div>
      <div class="dest-city__container">
        <input id="dest-city" class="dest-city__input" placeholder="مقصد"
               onfocus="onDestCityFocusHandler(this, event)" onblur="onDestCityFocusHandler(this, event)" />
        <div id="dest-airports-container" class="src-airports__container">
          <ul class="dest-airports"></ul>
        </div>
      </div>
    </div>
    <div class="depart-date__container">
      <input type="text" id="depart-date" class="depart-date__input depart-datePicker" placeholder="تاریخ رفت"
             onfocus="removePlaceHolder(this, event)" onblur="removePlaceHolder(this, event)" />
    </div>
    <div class="return-date__container">
      <input id="return-date" class="return-date__input return-datePicker" placeholder="تاریخ برگشت"
             onfocus="removePlaceHolder(this, event)" onblur="removePlaceHolder(this, event)" />
    </div>
    <div class="passengers-number__container">
      <span>تعداد مسافر:</span>
      <input id="passengers-number" placeholder="1" type="number" min="1" class="passengers-number__input" />
    </div>
  </div>
  <div class="control__container">
    <button type="button" class="btn btn-primary btn-lg">جستجو</button>
  </div>
</div>