<div class="align-content-center justify-content-center">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="row">
                    <p>
                        از
                        <a id="from-airport"></a>
                        (<a id="from-airport-code"></a>)
                    </p>
                </div>
                <div class="row">
                    <a id="from-city"></a>
                </div>
                <div class="row">
                    <a id="from-date"></a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <p>
                        به
                        <a id="to-airport"></a>
                        (<a id="to-airport-code"></a>)
                    </p>
                </div>
                <div class="row">
                    <a id="to-city"></a>
                </div>
                <div class="row">
                    <a id="to-date"></a>
                </div>
            </div>
            <div class="col-4">
                <div class="row">
                    <p>
                        پرواز
                        <a id="type"></a>
                    </p>
                </div>
                <div class="row">
                    <p>
                        به مدت
                        <a id="duration"></a>
                        دقیقه
                    </p>
                </div>
                <div class="row">
                    <p>
                        <a id="price"></a>
                        تومان
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>