<div class="align-content-center justify-content-center card m-5">
    <div class="card-body">
        <div class="container">
            <div class="row">
                <div class="col-md card m-2 p-3">
                    <div class="row">
                        <a id="from-airport"></a>
                    </div>
                    <div class="row">
                        <a id="from-city"></a>
                    </div>
                    <div class="row">
                        <a id="from-date"></a>
                    </div>
                </div>
                <div class="col-md card m-2 p-3">
                    <div class="row">
                        <a id="to-airport"></a>
                    </div>
                    <div class="row">
                        <a id="to-city"></a>
                    </div>
                    <div class="row">
                        <a id="to-date"></a>
                    </div>
                </div>
                <div class="col-md card m-2 p-3">
                    <div class="row">
                        <a id="type"></a>
                    </div>
                    <div class="row">
                        <a id="duration"></a>
                    </div>
                </div>
                <div class="col-md">
                    <div class="card m-2 p-3">
                        <a id="price"></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>